#radarChart {
    width: 500px;
    height: 500px;
    display: block;
    margin: auto; /* Centrer */
}


#portfolio .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 400px; /* Assure une hauteur minimale pour chaque carte */
}

#portfolio .card-body {
    flex-grow: 1; /* Permet au contenu de s'adapter à la taille de la carte */
}

#portfolio .card-img-top {
    width: 100%;
    height: 300px; /* Ajuste la hauteur de l'image selon tes besoins */
    object-fit: cover; /* Maintient l'image sans la déformer */
}

@media (max-width: 576px) {
    #portfolio .col-xs-12 {
        /* Pour les petits écrans, assure que chaque carte occupe toute la largeur */
        display: block;
    }
}
