/* By Lou SEMPERE */


#radarChart {
    width: 600px;
    height: 600px;
    display: block;
    margin: auto; /* Centrer */
}


#portfolio .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 400px; /* Assure une hauteur minimale pour chaque carte */
    position: relative;
    overflow: hidden;
}

#portfolio .card-body {
    flex-grow: 1; /* Permet au contenu de s'adapter à la taille de la carte */
}

#portfolio .card-img-top {
    width: 100%;
    height: 300px; /* Ajuste la hauteur de l'image selon tes besoins */
    object-fit: cover; /* Maintient l'image sans la déformer */
}

@media (max-width: 576px) {
    #portfolio .col-xs-12 {
        /* Pour les petits écrans, assure que chaque carte occupe toute la largeur */
        display: block;
    }
}


/* Cache le texte par défaut */
.card-description {
    display: none;
    position: absolute;
    top: 50%; /* Positionne à 50% de la hauteur de la carte */
    left: 50%; /* Positionne à 50% de la largeur de la carte */
    transform: translate(-50%, -50%); /* Centrage absolu par rapport aux coordonnées */
    background-color: rgba(106, 220, 238, 0.6); /* Fond semi-transparent */
    color: black; /* Couleur du texte */
    padding: 20px 30px; /* Espacement autour du texte */
    border-radius: 15px; /* Coins plus arrondis */
    text-align: center; /* Centre le texte horizontalement */
    font-size: 1.2rem; /* Augmente la taille du texte */
    font-weight: 600; /* Police plus épaisse */
    max-height: 100%; /* Permet au texte de s'étendre sur toute la hauteur disponible */
    transition: opacity 0.3s ease; /* Transition douce pour l'apparition */
}

/* Applique un effet de transparence à l'image au survol */
.card:hover .card-img-top {
    opacity: 0.3; /* L'image devient presque transparente */
    transition: opacity 0.3s ease; /* Transition douce de l'opacité */
}

/* Affiche le texte au survol */
.card:hover .card-description {
    display: block; /* Affiche le texte lorsqu'on survole la carte */
    opacity: 1; /* Assure que le texte est bien visible */
    transform: translate(-50%, -50%); /* Garantit que le texte reste centré */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Effet doux pour l'apparition */
}

/* Effet de flou sur l'image lorsqu'elle est transparente */
.card:hover .card-img-top {
    filter: blur(3px); /* Un léger flou sur l'image pour améliorer l'effet */
}

#map {
    width: 100%;
    height: 500px;
}